# Testing pandas

In [3]:
import pandas as pd
import numpy as np

In [4]:
arr1 = [1,2,3,4,5]
s1 = pd.Series(arr1)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
arr2 = ['one','two','three','four','five']
ind = ['a','b','c','d','e']
s2 = pd.Series(arr2, index=ind)

print(s2)

a      one
b      two
c    three
d     four
e     five
dtype: object

In [9]:
num = [1,2,3,4,5]
data1 = np.array([num,arr2])

df1 = pd.DataFrame(data1.T, index=ind, columns=['num','text'])

df1

  num   text
a   1    one
b   2    two
c   3  three
d   4   four
e   5   five

In [41]:
numX10 = [10,20,30,40,50]
data2 = np.array([num,arr2,numX10])
data2 = data2.T

df2 = pd.DataFrame(data2, index=ind, columns=['num','text','num X 10'])

df2

AttributeError: 'list' object has no attribute 'dtypes'

In [28]:
print(df2.iloc[2])

print('\n')

print(df2[['num','num X 10']])

num             3
text        three
num X 10       30
Name: c, dtype: object


  num num X 10
a   1       10
b   2       20
c   3       30
d   4       40
e   5       50

In [40]:
df2.dtypes

num         object
text        object
num X 10    object
dtype: object